<h1 class="page-heading">
  <%= @post.title %> 
</h1>

<div class="center-text">
  <%= NaiveDateTime.to_date @post.inserted_at %>
</div>
<hr>
<div class="post-body">
  <%= @post.body %>
</div>

<div class="nav-buttons">
  <%= link "Back", to: Routes.post_path(@conn, :index), class: "pure-button pure-button-primary" %>
</div>
